@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: 'Baloo Da 2', serif;
    --font-secundary: 'Josefin Slab', serif;
    --font-action: 'Mulish';
}

.hamburguer{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 15.5rem;
}

.line{
    width: 100%;
    height: .125rem;
    background-color: #ffffff;
    box-shadow: .1rem .1rem 1px #222222;
    transition: transform 1s;
}

.show-menu #line1{
    background-color:#050505;
    transform: rotate(45deg) translate(.4rem, .55rem);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    background-color:#050505;
    transform: rotate(-45deg) translate(.3rem, -.55rem);
    box-shadow: none;
}

.hamburguer span{
    opacity: 0;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26a0da;
    color: #ffffff;
    font-family: var(--font-action);
}

.hamburguer span::before{
    content:"";
    position: absolute;
    border-right: .5rem solid #26a0da;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7)
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 15s;
}

@keyframes zoom{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.5s forwards;
}

.banner p{
    color: #ffffff;
    font-size: 2rem;
    font-family: var(--font-secundary);
    font-weight: 800;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 2rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.7s forwards;
}

.banner button{
    color: #ffffff;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.5rem;
    font-family: var(--font-action);
    font-weight: 550;
    letter-spacing: .05rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1.5s 0.9s forwards;
}

.banner button:hover{
    color: #050505;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem)
        rotateY(-30deg);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    transition: color 0.5s;
}

.menu-link:hover{
    color: #1e369e
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: #555;
    font-size: 2.5rem;
    /*height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;*/
    transition: color 0.5s;
}

.social-media i:hover{
    color: #1e369e
}